[build]
builder = "nixpacks"

[deploy]
startCommand = "cd NomoFlow && gunicorn NomoFlow.wsgi:application --bind 0.0.0.0:$PORT"
healthcheckPath = "/health/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
